# This workflow will do a clean install of node dependencies, build the source code and run tests

name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    env:
      NODE_VERSION: '20'

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ env.NODE_VERSION }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ env.NODE_VERSION }}
    - run: npm i
    - run: npm run lint
    - run: npm run build
    - run: npm run test
    - run: npm run docs

    - name: Codecov
      uses: codecov/codecov-action@v3.0.0
      with:
        directory: ./build/coverage
        flags: unittests
        fail_ci_if_error: true
