# This workflow will do a clean install of node dependencies, build the source code, publish to npm, and deploy latest docs to GitHub pages

name: Release

on:
  release:
    types: [ published ]
    branches: [ main ]
  workflow_dispatch:
    branches: [ main ]

permissions:
  contents: read
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      NODE_VERSION: '20'

    steps:
    - name: Checkout
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
    
    - name: Use Node.js ${{ env.NODE_VERSION }}
      uses: actions/setup-node@39370e3970a6d050c480ffad4ff0ed4d3fdee5af # v4.1.0
      with:
        node-version: ${{ env.NODE_VERSION }}
    - run: npm i
    - run: npm run build
    - run: npm run docs

    - name: Publish
      if: success()
      run: ./deploy.sh
      env:
        NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

    - name: GitHub Pages
      if: success()
      uses: crazy-max/ghaction-github-pages@fbf0a4fa4e00f45accd6cf3232368436ec06ed59 # v4.1.0
      with:
        commit_message: Deploy morganstanley/desktopJS
        build_dir: docs/
        jekyll: false
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}