# This workflow will do a clean install of node dependencies, build the source code, publish to npm, and deploy latest docs to GitHub pages

name: Release

on:
  release:
    types: [ published ]
    branches: [ main ]
  workflow_dispatch:
    branches: [ main ]

permissions:
  contents: read
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      NODE_VERSION: '24'

    steps:
    - name: Checkout
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
    
    - name: Use Node.js ${{ env.NODE_VERSION }}
      uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
      with:
        node-version: ${{ env.NODE_VERSION }}
    - run: npm ci
    - run: npm run build
    - run: npm run docs

    - name: Publish
      if: success()
      run: npm run deploy

    - name: GitHub Pages
      if: success()
      uses: crazy-max/ghaction-github-pages@df5cc2bfa78282ded844b354faee141f06b41865 # v4.2.0
      with:
        commit_message: Deploy morganstanley/desktopJS
        build_dir: docs/
        jekyll: false
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}