# This workflow will do a clean install of node dependencies, build the source code, publish to npm, and deploy latest docs to GitHub pages

name: Release

on:
  release:
    types: [ published ]
    branches: [ main ]
  workflow_dispatch:
    branches: [ main ]

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      NODE_VERSION: '16'

    steps:
    - name: Checkout
      uses: actions/checkout@v4.1.1
    
    - name: Use Node.js ${{ env.NODE_VERSION }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ env.NODE_VERSION }}
    - run: npm i
    - run: npm run build
    - run: npm run docs

    - name: Publish
      if: success()
      run: ./deploy.sh
      env:
        NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

    - name: GitHub Pages
      if: success()
      uses: crazy-max/ghaction-github-pages@v2
      with:
        commit_message: Deploy morganstanley/desktopJS
        build_dir: docs/
        jekyll: false
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}